<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta name='viewport' content='width=device-width, initial-scale=0.5, maximum-scale=0.5'>
<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>
<body>
    <div class="well jumbotron">
      <h1><%= title %></h1>
      <p>这是一个在线投票和页面展示系统，赶快进去看一下吧</p>
      <p><a class="btn btn-primary btn-lg" href="user_vote" role="button">点我查看</a></p>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>

